body{
    padding: 0;
    margin: 0;
    background-color: #ffc2cc;
}
.card{
    padding: 20px;
    margin: 40px;
    background-color: #f29fad;
    border: 2px solid #fff;
    color: #ffffff;
}
.card1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.btn{
    border: 2px solid #ffffff;
    background-color: #eda6b2;
}


.card-title{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}