body{
    padding: 0;
    margin: 0;
    background-color: #0d123d;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    padding: 20px;
    margin: 40px;
    background-color: #121850 ;
    color: #fff;
}
.card2{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title{
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.btn{
    
    height:40px ;
    border-radius: 50px;
    border: 2px solid #fff;
}
.btnn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}